/* Sac State Styles */

/* Colors */

/*#043927 SacState Green
#c4b581 SacState Gold*/

a:focus {
    /* outline: none; */
}
button:focus {
    /* outline: none !important; */
    /* border: 1px solid #c4b581; */
}

.accessible a:focus {
    text-decoration: none;
}

body {
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

#content h1,h1,h2,h3,h4,h5,h6 {
  color: #043927;
}

#content h3 {
    font-size: 1.4em;
    margin: 0 0 .25em 0;
}

/* Courseblocks*/

.courseblock {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin-top: 0 !important;
}
/*tables */
#content table.tbl_administration .column0 {
    width: 65%;
}
#content table.tbl_administration .column1 {
    width: 23%;
}
#content table.tbl_averagesupportcost .column3 {
    text-align: right;
}

#header .wrap {
    padding: 10px 0;
}

#logo {
    height: 46px;
    width: 233px;
    float: left;
    margin: 10px 0px 10px -11px;
}

#logo a {
    height: 43px;
    width: 100%;
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


#content a,
.page_content a {
	color: #004E39;
}

#content p,
#content li {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}



/* colors */

#header{
	background: #fff;
}


/* Sac State Green */

#cl-menu ul.nav li a:hover,
#cl-menu ul.nav li a:focus,
#content a:hover, #content a:focus {
  color: #000;
  text-decoration: underline;
}

#cl-menu ul.nav li.active > a,
#cl-menu ul.nav li.self > a,
#cl-menu ul.nav li.self > .toggle-wrap > a,
#cl-menu ul.nav li.active > .toggle-wrap > a {
    color: #222;
}

#sidebar-nav-mobile,
#content ul.letternav li a:hover,
#content ul.letternav li a:active,
#content ul.letternav li a:focus{
  background: #024830;
}


/* Lighter Green*/


#navigation {
    background-color: #f7f7f7;
    border: 1px solid #d6d6d6;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,0.2);
}

#navigation ul li{
   border-left: 1px solid #e8e8e8
}

#navigation ul li:last-child{
    border-right:1px solid #e8e8e8
}

#navigation ul li a {
    color: #01573c;
}

#navigation ul li a:hover, #navigation ul li a:focus {
    background: #eee;
}

#hamburger {
    color: #024830;
}

#breadcrumb ul {
    padding: 20px 0 20px 0;
}


a#totop{
  background: #c4b581;
  border-radius: 5px;
}



#content a,
#breadcrumb ul li a {
  color: #01573c;
}

#breadcrumb {
    min-height: 30px;
}
#content table th {
    border-top: 1px solid #ccc;
}

#cl-menu {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 0px rgba(221, 221, 221, 0.31);
    margin: 5px 0;
}

#cl-menu ul.nav li a {
    color: #01573c;
    font-size: 13px;
    font-weight: bold;
}
#cl-menu ul.nav ul.nav li a {
    padding: 4px 5px;
}
#cl-menu.togglenav li > .toggle-wrap {
  position: relative;
}
#cl-menu.togglenav li.isparent > .toggle-wrap > a {
  padding-right: 30px;
}
#cl-menu.togglenav li.isparent button {
  display: inline-block;
  font-size: 0em;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  cursor: pointer;
}
#cl-menu.togglenav li.isparent button span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
}
#cl-menu.togglenav li.isparent button span:after {
  content: "\f196";
  font-family: FontAwesome;
  display: block;
  font-size: 1rem;
  color: #01573c;
}
#cl-menu.togglenav li.isparent button.open span:after {
  content: "\f147";
}
#cl-menu.togglenav li.isparent:not(.active):not(.self) > ul.nav {
  display: none;
}

/* A-Z */
#content ul.letternav li{
  margin-right:2px
}

#content ul.letternav li a, #content ul.letternav li a,
#content ul.letternav li.inactive {
    color: #fff;
    text-decoration: none;
     border-radius:5px;
    background:#01573c;
    font-size:15px
}


/* on this page styles */
a#totop {
    background: #c4b581;
    border-radius: 5px;
    font-weight: bold;
}
#content .onthispage ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#content .onthispage ul li {
    list-style-type: none;
    font-weight: bold;
    float: left;
    margin: 0 8px 9px 0;
}

#content .onthispage ul li a {
    text-decoration: none;
    border: 1px solid #c4b581;
    padding: 4px 9px;
    border-radius: 10px;
    display: block;
    box-shadow: 1px 1px 2px #eee;
    font-size: 12px;
}
#content .onthispage ul li a:hover,
#content .onthispage ul li a:focus {
	background: #eee;
}


#content h1, h1, h2, h3, h4, h5, h6 {
    color: #01573c;
}
#content h1 {
    margin: 0 0 20px 0;
}

#content h2 {
    margin: .50em 0 .25em 0;
}

#content table {
    color: #00573d;
}

#content table.sc_courselist td[colspan="2"] + td.hourscol {
    width: 12%;
}

#content table.tbl_checklist .column1 {
    width: 8%;
    text-align: right;
}
#content table.tbl_checklist tr.justifiable .column1 {
    text-align: left;
}
#content img{
    border: 1px solid #c4b581;
    padding: 5px;
    border-radius: 5px;
}
#content img.floatleft {
    float: left;
    width: 35%;
    margin: 0 20px 0 0;
}



.lfjsbubble span.credits,
.courseblock span.credits {
    float: right;
}
.courseblock span.prereq-label {
    color: #c6401d;
}

tabl3 tr strong, #content table tr.areaheader td, #content table tr.areaheader, #content table tr.areasubheader td, #content table tr.areasubheader, #content table tr.listsum td, #content table tr.plangridtotal td, #content table tr.plangridsum td {
    font-weight: bold;
    text-transform: uppercase;
}
.icon {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon.pencil {
    content: "\f040";
}
.icon.globe {
    content: "\f0ac";
}
#content .noindent {
    margin: 0;
    padding: 0;
}
#content p.hangindent {
    padding-left: 25px;
    text-indent: -25px;
}

#content p.funnelicon:before {
    content: '\f0b0';
    font-family: FontAwesome;
    margin-right: 6px;
    color: #01573c;
}

.lfjsbubble #how-to-desc p {
    margin-bottom: 12px;
}
.lfjsbubble #how-to-desc > p:last-of-type {
    margin-bottom: 0;
}
.lfjsbubble #how-to-desc #ge-area {
    padding-left: 25px;
}
.lfjsbubble #how-to-desc ul {
    list-style: disc;
    margin-left: 25px;
}
.lfjsbubble #how-to-desc ul ul {
    list-style: circle;
}

.lfjsbubble .title {
    float: left;
    width: 82%;
}
.lfjsbubble .credits {
    float: right;
    width: 18%;
    text-align: right;
}

/* ipad */
@media(max-width: 818px) {
    #navigation ul li {
        border-left: none;
    }

    #navigation ul li {
        border-left: none;
    }

    #navigation ul li:last-child {
        border-right: none;
    }
}

/* iphone */


@media(max-width: 767px) {

    #content table {
        display: block;
        overflow-x: auto;
    }
    #right-col {
        padding-right: 10px;
    }
    p,li,a{
      font-size:inherit;
    }
}


/* From client 2019-06-12 */
#footer a, #footer a:hover, #footer a:focus {
  color: #f0e1b0;
}
#footer .container-fluid .row {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 2em;
}
#footer[aria-labelledby="footer-extras"] {
  background-color: #000000;
  padding-top: 2rem;
}
#footer  ul.campus-social-links  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em 0 0 0;
  margin: 0 auto;
  max-width: 460px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
#footer a.ssc {
  display: block;
  width: 90%;
  margin: 0 auto 1rem auto;
  text-align: center;
}
#footer  a.ssc  img {
  -o-object-fit: scale-down;
  object-fit: scale-down;
  max-width: 360px;
}
#footer  ul.campus-social-links  li {
  height: 51px;
  width: 62px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 15%;
  flex: 0 1 15%;-ms-flex: 0 1 15%;
  justify-items: center;
  margin: 0;
  position: relative;
}
#footer.footer address, #footer .bottombar ul {
  font-size: .9em;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#footer .bottombar ul li {
  padding-right: 3ch;
  white-space: nowrap;
  -webkit-hyphens: none;
  -moz-hyhens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#footer .country-name {
  display: none;
}
@media screen and (min-width: 660px) {
  #footer  ul.campus-social-links  {
    padding: 0;
  }
  #footer[aria-labelledby="footer-extras"] {
    padding-top: 1rem;
  }
  #footer  a.ssc , #footer.footer address {
    width: 50%;
    text-align: left;
  }
  #footer.footer address {
    font-size: .75em;
    padding: 1.5rem 5%;
  }
  #footer .bottombar ul {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  #footer .container-fluid .row {
    padding-bottom: 2rem;
  }
  #footer  a.ssc , #footer.footer address, #footer  ul.campus-social-links  {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -ms-flex-item-align: center;
    align-self: center;
  }
  #footer  a.ssc  {
    margin: 0;
  }
  #footer.footer address {
    margin: 0 0 0 50%;
    padding: 0;
    font-size: .9em;
  }
}
@media screen and (min-width: 1000px) {
  #footer .container-fluid .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 1200px;
  }
  #footer  a.ssc  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer a.ssc,
  #footer.footer address {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  #footer  ul.campus-social-links  {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  #footer  ul.campus-social-links  {
    padding: 0 0 0 3%;
    margin: 0 auto;
  }
  #footer.footer address {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  #footer  ul.campus-social-links  {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  #footer  ul.campus-social-links  {
    padding: 0 3%;
  }
}
#footer  ul.campus-social-links  li a,
#csus-global-navbar .modal .modal-body  ul.campus-social-links  li a {
  color: #FFF;
  font-size: 0;
  text-align: center;
}
#footer ul.campus-social-links li a:before {
  position: relative;
  top: -.3rem;
}
#csus-global-navbar .modal-body .campus-social-links li a:hover,
#csus-global-navbar .modal-body .campus-social-links li a:focus {
  opacity: .6;
}
/* ============ */
#footer a[href*="twitter.com"]:before {
  content: url(../images/socials/tw.svg);
}
#footer a[href*="facebook.com"]:before {
  content: url(../images/socials/fb.svg);
}
#footer a[href*="instagram.com"]:before {
  content: url(../images/socials/ig.svg);
}
#footer a[href*="flickr.com"]:before  {
  content: url(../images/socials/fk.svg);
}
#footer a[href*="linkedin.com"]:before {
  content: url(../images/socials/li.svg);
}
#footer a[href*="youtube.com"]:before {
  content: url(../images/socials/yt.svg);
}
/* ===========================================Global: Bottom Bar ====================*/
#footer .bottombar {
  background-color: #022e22;
  padding-top: 20px;
  padding-bottom: 10px;
}
#footer .bottombar p, #footer .bottombar a {
  color: #ffffff;
  font-size: 14px;
}
#footer .bottombar h1, #footer .bottombar h2, #footer .bottombar h3, #footer .bottombar h4, #footer .bottombar a {
  font-weight: 600;
}
#footer .bottombar li {
  color: #ffffff;
  list-style: none;
  display: inline;
}
/* Adding to match preview */
#footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/*
Ethan Jorgensen 2019-07-08 
Remove external dependencies including bootstrap which was breaking navbar and everything else
*/
#footer {
  line-height: 1.5;
  background:#000;
}
#footer div.row {
  display: flex;
}
#footer a {
  text-decoration: none;
}
#footer, #footer div, #footer img, #footer ul {
  box-sizing: border-box;
}
#footer img {
  vertical-align: middle;
  order: 1;
}
#footer ul {
  order: 2;
}
#footer address {
  order: 3;
}