body {
    background-color: #68B984;
}

hr {
    border-style:none;
    border-top-style: dotted;
    border-width: 15px;
    text-align: center;      
    width: 30%;
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}


.container {
    justify-content: center;
    width: 100%;
}

.table {
    justify-content: center;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.left {
    margin-left: 25%;
}

.tab-margin{
    margin-left: 30%
}


.box {
    border-color: aqua;   
    border-width: 10px 5px 5px 10px;
    background-color: #66bfbf;
    width:70%;
   
}